{% extends "blog/base.html" %}
{% block content %}
  <h1 class="mb-3">Post by {{ view.kwargs.username}} ({{ page_obj.paginator.count}}) </h1>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" alt="profile-image" src = "{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
        <div class="container m-3">
          <div class="content">
            <form action="{% url 'like-post' post.id %}" method="POST" style="display:inline;">
              {% csrf_token %}
              {% if user in post.likes.all %}
                <button type="submit" style="background: none; border: none; text-decoration: none">
                  <i class="fa-solid fa-heart" style="color: red"></i>
                  {{ post.num_of_likes }} Like
                </button>
              {% else %}
                <button type="submit" style="background: none; border: none; text-decoration: none">
                  <i class="fa-regular fa-heart"></i>
                  {{ post.num_of_likes }} Like
                </button>
              {% endif %}
            </form>
          </div>
            <div class="content" style="color: #5F788A">
              <button role="button" class="btn dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgb(95,31,120); border: none; background-color: transparent;">
                  Comment
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <form method="post" action="{% url 'post-comment' post.id %}">
                      {% csrf_token %}
                      <div class="col-auto">
                          <label for="InputComment" class="visually-hidden"></label>
                          <input type="text" class="form-control m-2" id="InputComment" name="comments" placeholder="Enter Your Comment">
                      </div>
                      <div class="col-auto">
                          <button type="submit" class="btn btn-primary mb-3">Send </button>
                      </div>
                  </form>
              </div>
            </div>
            <div class="comments-section">
                {% for comment in post.comments.all %}
                    <div class="comment">
                        <div class="comment-left">
                            <p><strong>{{ comment.user.username }}:</strong> {{ comment.comments }}  <sup>{{ comment.created_at | date:"D f" }}</sup></p>
                        </div>
                        <div class="replies-right">
                            {% for reply in comment.replies.all %}
                                <div class="reply">
                                    <p><strong>{{ reply.user.username }}:</strong> {{ reply.reply }} <sup>{{ reply.created_at | date:"D f" }}</sup></p>
                                </div>
                            {% endfor %}
                            <!-- Reply Form -->
                            {% if comment.replies.all.count == 0 %}
                                <!-- Reply Form -->
                                <a class="btn btn-primary" data-toggle="collapse" href="#replayBox{{ comment.id }}" role="button" aria-expanded="false" aria-controls="replayBox{{ comment.id }}">
                                    Reply
                                </a>
                            {% endif %}
                            <div class="collapse" id="replayBox{{ comment.id }}">
                                <div class="card card-body">
                                    <form method="post" action="{% url 'comment-replay' comment.id %}">
                                        {% csrf_token %}
                                        <input type="text" aria-label="replay" id="replay" name="replay" placeholder="Enter Your Reply" required>
                                        <button type="submit" class="button">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="btn btn-primary" data-toggle="collapse" href="#likeUsersCollapse{{ post.id }}" role="button" aria-expanded="false" aria-controls="likeUsersCollapse{{ post.id }}" style="padding: 2px">
                All Like Users
            </a>
            <div class="collapse" id="likeUsersCollapse{{ post.id }}">
                <div class="card card-body">
                    {% for user in post.likes.all %}
                    <ul>
                        <li>
                            {{ user.username }}
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4 " href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4 " href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}
